@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 10vw;
  color: #1d1f22;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
